<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>


    <section class="container">
        <section class="row p-5 my-5">
            <section class="col">
                <h1>INCUBUS</h1>
                <hr>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, corporis ratione. Totam sint perspiciatis iste qui quo libero asperiores placeat pariatur provident distinctio itaque illum quaerat aliquam nesciunt beatae et suscipit consequuntur atque odit impedit, esse hic quasi blanditiis! Quae, iste! Perferendis, cum veniam. Doloremque excepturi rem temporibus pariatur, voluptatem non aperiam quasi rerum sit voluptates a sunt optio molestiae accusamus obcaecati officiis sequi impedit culpa perspiciatis eius ea distinctio natus. Suscipit, obcaecati nemo nesciunt asperiores quisquam nulla numquam enim ullam voluptatum velit aliquid dicta, quibusdam eaque unde quam officiis soluta. Non tempore debitis quod, animi molestias quas doloribus obcaecati.</p>
            </section>
        </section>
        <section class="row row-cols-5 p-4 g-5 justify-content-center">

            <div class="card p-3 shadow mx-2">
                <img src="../../assets/img/album.jpg" alt="album">
                <h5>Nombre: Dig</h5>
                <h5>Duración: 1.25 min</h5>
                <h5>Calificación: 3.8 ⭐</h5>

            </div>
            <div class="card p-3 shadow mx-2">
                <img src="../../assets/img/album.jpg" alt="album">
                <h5>Nombre: Drive</h5>
                <h5>Duración: 2.15 min</h5>
                <h5>Calificación: 4.8 ⭐</h5>
            </div>
            <div class="card p-3 shadow mx-2">
                <img src="../../assets/img/album.jpg" alt="album">
                <h5>Nombre: Love Hurts</h5>
                <h5>Duración: 3 min</h5>
                <h5>Calificación: 4.1 ⭐</h5>
            </div>
            <div class="card p-3 shadow mx-2">
                <img src="../../assets/img/album.jpg" alt="album">
                <h5>Nombre: Ana Molly</h5>
                <h5>Duración: 2.15 min</h5>
                <h5>Calificación: 3.9 ⭐</h5>
            </div>

        </section>

        <section class="row row-cols-5 p-4 g-5 justify-content-center">

            <div class="card p-3 shadow mx-2">
                <img src="../../assets/img/album2.jpg" alt="album">
                <h5>Nombre: Dig</h5>
                <h5>Duración: 1.25 min</h5>
                <h5>Calificación: 3.8 ⭐</h5>

            </div>
            <div class="card p-3 shadow mx-2">
                <img src="../../assets/img/album2.jpg" alt="album">
                <h5>Nombre: Drive</h5>
                <h5>Duración: 2.15 min</h5>
                <h5>Calificación: 4.8 ⭐</h5>
            </div>
            <div class="card p-3 shadow mx-2">
                <img src="../../assets/img/album2.jpg" alt="album">
                <h5>Nombre: Love Hurts</h5>
                <h5>Duración: 3 min</h5>
                <h5>Calificación: 4.1 ⭐</h5>
            </div>
            <div class="card p-3 shadow mx-2">
                <img src="../../assets/img/album2.jpg" alt="album">
                <h5>Nombre: Ana Molly</h5>
                <h5>Duración: 2.15 min</h5>
                <h5>Calificación: 3.9 ⭐</h5>
            </div>

        </section>
    </section>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>